@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/JetBrainsMono-Thin.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/JetBrainsMono-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/JetBrainsMono-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/JetBrainsMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/JetBrainsMono-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: "JetBrains Mono";
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;

  --primary-color: var(--p-slate-500);
  --secondary-color: var(--p-slate-500);

  /* In between slate shades */
  --m-slate-150: #eaf0f8;
  --m-slate-250: #e2ecf7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--p-slate-700);
}

a {
  text-decoration: inherit;
}

h1 {
  color: var(--p-slate-700);
  font-weight: 800;
}

body,
html,
#app {
  height: 100%;
  font-family: "JetBrains Mono";
  overflow: hidden;
}

#app {
  background-color: var(--p-slate-100);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#app > main {
  flex: 1;
}

/* WebKit browsers (Chrome, Brave, Edge, Safari) */
::-webkit-scrollbar {
  width: 12px; /* scrollbar width */
  height: 12px; /* horizontal scrollbar height */
}

::-webkit-scrollbar-track {
  background: transparent; /* completely invisible track */
  border-radius: 0; /* remove any rounding */
}

::-webkit-scrollbar-thumb {
  background-color: lightslategray; /* draggable thumb color */
  border-radius: 0; /* remove rounding, completely rectangular */
  min-height: 20px; /* optional: ensures thumb is not too small */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: lightslategray transparent;
}

.p-inputtext {
  background: transparent !important;
}

/* Rainbow brackets */

.rainbow-bracket-red {
  color: rgb(206, 45, 144) !important;
}
