@font-face {
  font-family: "JetBrainsMono";
  src: url("./assets/fonts/JetBrainsMono.ttf") format("truetype");
}

:root {
  font-family: "JetBrainsMono";
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;

  --primary-color: var(--p-slate-500);
  --secondary-color: var(--p-slate-500);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
}

h1 {
}

body,
html,
#app {
  height: 100%;
  font-family: "JetBrainsMono";
}

#app {
  background-color: var(--p-slate-100);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#app > main {
  flex: 1;
}

/* WebKit browsers (Chrome, Brave, Edge, Safari) */
::-webkit-scrollbar {
  width: 12px; /* scrollbar width */
  height: 12px; /* horizontal scrollbar height */
}

::-webkit-scrollbar-track {
  background: transparent; /* completely invisible track */
  border-radius: 0; /* remove any rounding */
}

::-webkit-scrollbar-thumb {
  background-color: lightslategray; /* draggable thumb color */
  border-radius: 0; /* remove rounding, completely rectangular */
  min-height: 20px; /* optional: ensures thumb is not too small */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: lightslategray transparent;
}
